inst/doc
.Rproj.user
.Rhistory
*.Rproj
.RData
*.o
*.so
vignettes/disaggregation_cache/*
vignettes/disaggregation_files/*
.github/workflows/R-CMD-check-HTML5.archyaml
vignettes/spatio_temporal_disaggregation.Rmd
